body {
    background-color: magenta ;
}

.header_div {
    background-color: beige;
    color:dodgerblue ;
}

.header_div p {
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

.main_div button{
    font-family: 'Secular One', sans-serif;
    margin-top: 35px;
    width: 135px;
    font-weight: bold;
    letter-spacing: 4px;
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 1;
    width: 100%;
    font-size: 20px;
    background-color: beige;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}

